version: 1.5.1-{build}

skip_tags: false

platform: x64
configuration: Release

clone_folder: C:\cargo-update

install:
  - set PATH=C:\msys64\mingw64\bin;C:\msys64\usr\bin;%PATH%;C:\Users\appveyor\.cargo\bin
  - bash -lc "pacman --needed --noconfirm -Sy pacman-mirrors"
  - bash -lc "pacman --noconfirm -Sy"
  - bash -lc "pacman --noconfirm -S mingw-w64-x86_64-toolchain"
  -
  # Fix undefined references to __acrt_iob_func()
  - sed -rie "s/#define std([[:alpha:]]+)[[:space:]]+\(__acrt_iob_func\(([[:digit:]]+)\)\)/#define std\1 (\&__iob_func()[\2])/" "C:\msys64\mingw64\x86_64-w64-mingw32\include\stdio.h"
  -
  - curl -SL https://win.rustup.rs/ -oC:\rustup-init.exe
  - C:\rustup-init.exe -y --default-host="x86_64-pc-windows-gnu"

build: off
build_script:
  - git submodule update --init --recursive
  - cargo build --release
  - cp target\release\cargo-install-update.exe cargo-install-update-v1.5.1.exe
  - strip --strip-all --remove-section=.comment --remove-section=.note cargo-install-update-v1.5.1.exe

test: off

artifacts:
  - path: cargo-install-update-v1.5.1.exe

deploy:
  provider: GitHub
  artifact: cargo-install-update-v1.5.1.exe
  auth_token:
    secure: 8dP4MwLtHqrSNKYKeSGSt8vm/QIc+0LHdSoI2ReFPAWEL9VrU8+88YcjQNcF6Wzn
  on:
    appveyor_repo_tag: true

notifications:
  - provider: Email
    to:
      - nabijaczleweli@gmail.com
    on_build_status_changed: true
